.list {
  padding: 10px;
  background-color: #fff;
  color: black;
  text-align: left;
  margin-bottom: 15px;
  box-shadow: 2px 2px 10px rgb(231, 231, 231);

}

.container {
  margin: 50px 200px;
}

.list:hover {
  border-left: green 5px solid;
}
